version: '3.9'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: pass
    networks:
      - practica-net

  producto-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: producto-service
    depends_on:
      - rabbitmq
    environment:
      - RABBITMQ_URL=amqp://user:pass@rabbitmq:5672
      - NODE_ENV=production
    ports:
      - "3000:3000"
    networks:
      - practica-net

networks:
  practica-net:
    driver: bridge
